name: Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
        with:
          install: true
          cache: true
      - name: Install dependencies
        run: pnpm install --ignore-scripts
      - name: Build libs
        run: |
          pnpm run build
          pnpm rebuild # To create bin links
      - name: Tests
        run: pnpm run test:coverage
      - name: Upload coverage results to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          base-path: ./packages/mcp-server-supabase
